Atividade3D-Node-RED-ServerSocketMQTT/Node-RED/fluxo.txt
[{"id":"6b35e524.17999c","type":"ui_switch","z":"7ecdfa94.c20c3c","name":"","label":"LED1","group":"ba0efa98.78851","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"/leds/led1/","style":"","onvalue":"LED1=ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"LED1=OFF","offvalueType":"str","officon":"","offcolor":"","x":1369.9168090820312,"y":449,"wires":[["aa838c03.ee25a8","758c5c01.1dcd54"]]},{"id":"69778db2.40c15c","type":"ui_switch","z":"7ecdfa94.c20c3c","name":"","label":"LED2","group":"ba0efa98.78851","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"/leds/led2/","style":"","onvalue":"LED2=ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"LED2=OFF","offvalueType":"str","officon":"","offcolor":"","x":1366.9168090820312,"y":508,"wires":[["aa838c03.ee25a8","758c5c01.1dcd54"]]},{"id":"944dc2b9.6dd498","type":"ui_switch","z":"7ecdfa94.c20c3c","name":"","label":"LED3","group":"ba0efa98.78851","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"/leds/led3/","style":"","onvalue":"LED3=ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"LED3=OFF","offvalueType":"str","officon":"","offcolor":"","x":1361.9168090820312,"y":568,"wires":[["aa838c03.ee25a8","758c5c01.1dcd54"]]},{"id":"758c5c01.1dcd54","type":"mqtt out","z":"7ecdfa94.c20c3c","name":"","topic":"","qos":"0","retain":"","broker":"c78ce4d.58e9b98","x":1698.916748046875,"y":438,"wires":[]},{"id":"aa838c03.ee25a8","type":"tcp request","z":"7ecdfa94.c20c3c","server":"192.168.137.50","port":"80","out":"sit","splitc":" ","name":"","x":1734.916748046875,"y":777.9998779296875,"wires":[["12270940.7ee907","8c13f4ed.945a48"]]},{"id":"374a5d5a.1a999a","type":"ui_chart","z":"7ecdfa94.c20c3c","name":"","group":"f6d220b3.894b9","order":0,"width":0,"height":0,"label":"Gráfico de Temperatua","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2316.916748046875,"y":589.9999694824219,"wires":[[],[]]},{"id":"79e879a4.f441a8","type":"ui_gauge","z":"7ecdfa94.c20c3c","name":"","group":"f6d220b3.894b9","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"units","format":"{{value | number:1}}%","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2275.916748046875,"y":495.9999084472656,"wires":[]},{"id":"944b61af.402c68","type":"ui_button","z":"7ecdfa94.c20c3c","name":"","group":"f6d220b3.894b9","order":0,"width":0,"height":0,"passthru":false,"label":"Temperatura?","color":"","bgcolor":"","icon":"","payload":"TEMP=?","payloadType":"str","topic":"/temperatura/","x":1319.9168090820312,"y":674,"wires":[["aa838c03.ee25a8","758c5c01.1dcd54"]]},{"id":"8d6309a2.bfd4b","type":"ui_button","z":"7ecdfa94.c20c3c","name":"","group":"417b06c4.b7264","order":0,"width":0,"height":0,"passthru":false,"label":"Botão 1?","color":"","bgcolor":"","icon":"","payload":"BTN1=?","payloadType":"str","topic":"/botoes/btn1/","x":1316.9168090820312,"y":786,"wires":[["aa838c03.ee25a8","758c5c01.1dcd54"]]},{"id":"70fa963f.0622a","type":"ui_button","z":"7ecdfa94.c20c3c","name":"","group":"417b06c4.b7264","order":0,"width":0,"height":0,"passthru":false,"label":"Botão 2?","color":"","bgcolor":"","icon":"","payload":"BTN2=?","payloadType":"str","topic":"/botoes/btn2/","x":1322.9168090820312,"y":868,"wires":[["aa838c03.ee25a8","758c5c01.1dcd54"]]},{"id":"a9c41d6.8d55e6","type":"mqtt in","z":"7ecdfa94.c20c3c","name":"","topic":"/temperatura/","qos":"0","broker":"c78ce4d.58e9b98","x":2023.7666015625,"y":541.9499206542969,"wires":[["374a5d5a.1a999a","79e879a4.f441a8"]]},{"id":"12270940.7ee907","type":"function","z":"7ecdfa94.c20c3c","name":"AnalisaDados","func":"if (msg.topic === \"/botoes/btn1/\" ) {\n    return [msg, null, null]; \n}\n    \nif (msg.topic === \"/botoes/btn2/\" ) {\n    return [null, msg, null]; \n}\nif (msg.topic === \"/temperatura/\" ) {\n    return [null, null, msg]; \n}\n\n  \n","outputs":3,"noerr":0,"x":1990.7666015625,"y":903.4666748046875,"wires":[["c337634f.0be3a","bca7b834.30921"],["9d2af3c0.86f7d","bca7b834.30921"],["e93aefbf.87bdd8"]]},{"id":"c337634f.0be3a","type":"mqtt out","z":"7ecdfa94.c20c3c","name":"","topic":"/botoes/btn1/","qos":"0","retain":"","broker":"c78ce4d.58e9b98","x":2289.800048828125,"y":710.8832702636719,"wires":[]},{"id":"9d2af3c0.86f7d","type":"mqtt out","z":"7ecdfa94.c20c3c","name":"","topic":"/botoes/btn2/","qos":"0","retain":"","broker":"c78ce4d.58e9b98","x":2300.800048828125,"y":776.8832702636719,"wires":[]},{"id":"e93aefbf.87bdd8","type":"mqtt out","z":"7ecdfa94.c20c3c","name":"","topic":"/temperatura/","qos":"0","retain":"","broker":"c78ce4d.58e9b98","x":2295.800048828125,"y":853.88330078125,"wires":[]},{"id":"8c13f4ed.945a48","type":"ui_text","z":"7ecdfa94.c20c3c","group":"1276a84e.2a603","order":0,"width":0,"height":0,"name":"","label":"Tópicos:","format":"{{msg.topic}}","layout":"col-center","x":1979.7666015625,"y":662.6999206542969,"wires":[]},{"id":"1331edd6.b486c2","type":"ui_text","z":"7ecdfa94.c20c3c","group":"417b06c4.b7264","order":0,"width":0,"height":0,"name":"","label":"Retorno ESP01","format":"{{msg.payload}}","layout":"col-center","x":2529.7666015625,"y":946.5,"wires":[]},{"id":"bca7b834.30921","type":"string","z":"7ecdfa94.c20c3c","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2257.7666015625,"y":980.2833251953125,"wires":[["1331edd6.b486c2","217f0072.f3255"]]},{"id":"217f0072.f3255","type":"function","z":"7ecdfa94.c20c3c","name":"Converte Falas","func":"if (msg.payload === \"BTN1=OFF\" ) {\n    msg.payload = \"Botão 1,Não Pressionado\"\n    return msg\n}\n    \nif (msg.payload === \"BTN2=OFF\" ) {\n    msg.payload = \"Botão 2,Não Pressionado\"\n    return msg\n}\n\nif (msg.payload === \"BTN1=ON\" ) {\n    msg.payload = \"Botão 1,Pressionado\"\n    return msg\n}\n\nif (msg.payload === \"BTN2=ON\" ) {\n    msg.payload = \"Botão 2,Pressionado\"\n    return msg\n}\n  \n","outputs":1,"noerr":0,"x":2519.7666015625,"y":1060.316650390625,"wires":[["c1f3f6a4.6b1798"]]},{"id":"301ccfe6.d422d","type":"string","z":"7ecdfa94.c20c3c","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2220.916748046875,"y":383.3833312988281,"wires":[["9c9a3d20.3f45f","a0134480.93289"]]},{"id":"c1f3f6a4.6b1798","type":"ui_audio","z":"7ecdfa94.c20c3c","name":"","group":"ba0efa98.78851","voice":"pt-BR","always":true,"x":2866.916748046875,"y":636.38330078125,"wires":[]},{"id":"9c9a3d20.3f45f","type":"function","z":"7ecdfa94.c20c3c","name":"Converte Falas","func":"if (msg.payload === \"LED1=ON\" ) {\n    msg.payload = \"LED 1 - Ligado\"\n    return msg\n}\n\nif (msg.payload === \"LED2=ON\" ) {\n    msg.payload = \"LED 2 - Ligado\"\n    return msg\n}\n\nif (msg.payload === \"LED3=ON\" ) {\n    msg.payload = \"LED 3 - Ligado\"\n    return msg\n}\n\nif (msg.payload === \"LED1=OFF\" ) {\n    msg.payload = \"LED 1 - Desligado\"\n    return msg\n}\n\nif (msg.payload === \"LED2=OFF\" ) {\n    msg.payload = \"LED 2 - Desligado\"\n    return msg\n}\n\nif (msg.payload === \"LED3=OFF\" ) {\n    msg.payload = \"LED 3 - Desligado\"\n    return msg\n}","outputs":1,"noerr":0,"x":2441.916748046875,"y":385.5000305175781,"wires":[["c1f3f6a4.6b1798"]]},{"id":"a0134480.93289","type":"ui_text","z":"7ecdfa94.c20c3c","group":"ba0efa98.78851","order":0,"width":0,"height":0,"name":"","label":"Retorno ESP01","format":"{{msg.payload}}","layout":"col-center","x":2441.916748046875,"y":432.3833312988281,"wires":[]},{"id":"a292a54d.f833c8","type":"mqtt in","z":"7ecdfa94.c20c3c","name":"","topic":"/leds/+/","qos":"0","broker":"c78ce4d.58e9b98","x":2027.916748046875,"y":385.3833312988281,"wires":[["301ccfe6.d422d"]]},{"id":"ba0efa98.78851","type":"ui_group","z":"","name":"Controle das Luzes","tab":"b366eacc.7926f","disp":true,"width":"6","collapse":false},{"id":"c78ce4d.58e9b98","type":"mqtt-broker","z":"","name":"Curso2018","broker":"54.84.101.243","port":"1883","clientid":"NR","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f6d220b3.894b9","type":"ui_group","z":"","name":"Temperatura","tab":"b366eacc.7926f","disp":true,"width":"6","collapse":false},{"id":"417b06c4.b7264","type":"ui_group","z":"","name":"Botões","tab":"b366eacc.7926f","disp":true,"width":"6","collapse":false},{"id":"1276a84e.2a603","type":"ui_group","z":"","name":"Mensagens","tab":"b366eacc.7926f","disp":true,"width":"6","collapse":false},{"id":"b366eacc.7926f","type":"ui_tab","z":"","name":"Curso IoT - Julho 2018","icon":"dashboard"}]